{% extends "first.html" %}
{% block body%}
      <div class="container" >

        <div class="row">
      <div class="col-1" id="column1">項目1</div>
      <div class="col-1" id="column2">項目2</div>
      <div class="col-6" id="column3">項目3</div>
      <div class="col-4" id="column4">項目4</div>
    </div>
        <h1>プロフィール</h1>
        <div class="row">
          <div class="col-1">
          </div>
          <div class="col-5" >
            <h2>{{user["nickname"]}}</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-1"></div>

          <div class="col-5">
            <img src="IMG_4500.PNG" alt="profile_picture" style="width:256px;height:256px">
          </div>

          <div class="col-6" style="background-color:lightgreen;">
            <form action="cgi-bin/formmail.cgi" method="post">
              comment：<br>
              <textarea name="comment" rows="12" cols="60" placeholder="ここに趣味やコメントを入力してみましょう!"></textarea><br>
              <div class="form-group">

                <label>性別：</label>
                  <h5>{{session['gender']}}</h5>
              </div>
              <div class="form-group">
                  <label>氏名 　</label>
                  <h5>{{session['name']}}"</h5>
              </div>

              <div class="form-group">
                  <label>年齢：</label>
                  <h5>{{session['age']}}</h5>
              </div>

              <div class="form-group">
                  <label>職業：</label>
                <h5> {{session['job']}} </h5>
              </div>
              <div class="form-group">
                  <label>住所　</label>
                <h5>{{session['address']}}</h5>
              </div>
              <div class="form-group">
                  <label>メールアドレス </label>
                  <h5> {{session['email']}}</h5>
              </div>
              <div class="form-group">
                  <label>電話番号：</label>
                  <h5>{{session['telephone_number']}}</h5>
              </div>
              <div class="form-group">
                <label>パスワード：</label>
                <h5>{{session['password1']}} </h5>
            </form>
          </div>
        </div>
        <br>
        <div class="row center-block text-center">
          <div class="col-12">
            <button type="submit" class="btn btn-outline-primary btn-block">編集する</button>
          </div>
        </div>
        </div>
{% endblock %}
